{%extends "base.html" %}

{%block principal%}

    <h1>Arte y cultura</h1>

    {% if form %}
        <h2>Agregar</h2>
        <form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button>Guardar</button>
        </form>
    {%else%}
        <h2>Lista de actividades</h2>
        <a href="arte/add">Nueva actividad</a>

        <ul>
            {%for a in actividadesarte %}
                <li>
                    <em>{{a.nombre}}</em>
                    <p>
                        {{a.descripcion}}
                    </p>
                </li>
            {%endfor%}
        </ul>

    {%endif%}
{%endblock%}