<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deportes, Arte y cultura</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/arte">Arte y cultura</a>
                </li>
                <li>
                    <a href="/deportes">Deportes</a>
                </li>
                <li>
                    <a href="/registro">Registro</a>
                </li>
                <li>
                    <a href="/login">Iniciar sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        {%block principal%}

        {%endblock%}
    </section>
</body>
</html>